<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>$pac $username</title>
        <style>
            body {
              min-height: 75rem;
              padding-top: 4.5rem;
            }
        </style>
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">

                <a class="navbar-brand mr-5" href="#">$pac - $username</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">

                    <ul class="navbar-nav me-auto mb-2 mb-md-0">

                        #foreach( $exercise in $exercises )
                            <li class="nav-item">
                                <a class="nav-link mr-2" href="#$exercise.name">$exercise.name</a>
                            </li>
                        #end

                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid mb-4">
            <blockquote class="blockquote mb-3">
                <p>Informe de corrección</p>
                <p class="blockquote-footer mb-1">Corrección por ejercicio</p>
                <p class="blockquote-footer">Clica en el botón <b>"Test Summary"</b> para obtener el detalle de los tests de cada ejercicio.</p>

            </blockquote>
        </div>

        <div class="container-fluid mb-4">
            <div class="bg-light border border-secondary p-2 rounded">
                <div class="m-3">
                    <h3>Información</h3>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">PAC</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" value="$pac" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Estudiante</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" value="$username" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="notePAC" class="col-sm-2 col-form-label">Nota</label>
                        <div class="col-sm-10">
                            <span class="badge badge-warning" style="font-size: 25px;">$math.roundTo(2, $notePAC)</span> sobre $scorePAC
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="notePAC" class="col-sm-2 col-form-label text-danger"><b>IMPORTANTE</b></label>
                        <div class="col-sm-10">
                            <small class="form-text text-danger">Esta nota <b>NO es la nota final</b> de la PEC. Es la evaluación correspondiente a la ejecución de los tests:</small>
                            <small class="form-text text-danger"><li>El ejercicio 3 sobre comentarios Javadoc, no se está evaluando con este corrector (de ahí que la nota no sea sobre 10).</li></small>
                            <small class="form-text text-danger"><li>Puedes recibir una penalización de la nota obtenida en función de la calidad del código proporcionado, tal y como se especifica en el enunciado.</li></small>
                            <small class="form-text text-danger">En el Registro de EC del aula tienes la <b>NOTA DEFINITIVA</b> de la PEC</small>
                            <small class="form-text text-danger">Revisa los comentarios en tu código con el plugin Codemment</small>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        #foreach( $exercise in $exercises )
            <div class="container-fluid" id="$exercise.name">
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="d-flex">
                            <div class="p-2">
                                <p class="h4"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>
                                    $exercise.name
                                    #if ($configurationExercises.get($exercise.name).scoreByMethods)
                                        <span class="text-info h5">(puntuación por métodos)</span>
                                    #end
                                </p>

                            </div>
                            <div class="ml-auto p-2">
                                #if( $exercise.testsuiteList )
                                <span class="badge rounded-pill h3"></span>
                                <p class="h4"><a class="btn btn-danger" href="$exercise.reportUrl" role="button"><i class="fa fa-plus-square" aria-hidden="true"></i> Test Summary</a></p>
                                #end
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Test name</th>
                                <th scope="col">Score</th>
                                <th scope="col">Tests</th>
                                <th scope="col">Failures</th>
                                <th scope="col">Success</th>
                                <th scope="col">Mark/Grade</th>
                                <th scope="col">Comments</th>
                            </tr>
                            </thead>
                            <tbody>
                                #set( $testsTotal = 0 )
                                #set( $failuresTotal = 0 )
                                #set( $errorsTotal = 0 )
                                #set( $scoreTotal = 0 )
                                #set( $noteTotal = 0 )

                                #foreach( $test in $exercise.testsuiteList )

                                    #set( $testsTotal = $testsTotal + $test.tests)
                                    #set( $failuresTotal = $failuresTotal + $test.failures)
                                    #set( $errorsTotal = $errorsTotal + $test.errors)
                                    #set( $scoreTotal = $scoreTotal + $test.score)
                                    <tr>
                                        <th>$test.name</th>
                                        <td>$test.score</td>
                                        <td>$test.tests</td>
                                        <td>$test.failures</td>
                                        #set( $success = (($test.tests - $test.failures - $test.errors) * 100) / $test.tests)
                                        #if ($success < 50)
                                            <td class="table-danger">$success %</td>
                                        #else
                                            <td class="table-success">$success %</td>
                                        #end


                                        <td class="table-warning">



                                            #if($configurationExercises.get($exercise.name).scoreByMethods)
                                                #set( $noteTotalByMethod = 0 )
                                                #foreach( $testcase in $test.testcase )
                                                    #if (! $testcase.failure)

                                                        #set( $exerciseConfiguration = $configurationExercises.get($exercise.name) )
                                                        #foreach( $testNote in $exerciseConfiguration.listTestNote )
                                                            #if ($exerciseConfiguration.scoreByMethods)
                                                                #set($noteTotalByMethod = $noteTotalByMethod + $math.toNumber($testNote.methodsNote.get($testcase.name)))
                                                            #end
                                                        #end
                                                    #end
                                                #end


                                                #set( $note = $noteTotalByMethod)
                                                #set( $noteTotal = $noteTotal + $note)

                                            #else
                                                #set( $note = ($test.score * $success)/100 )
                                                #set( $noteTotal = $noteTotal + $note)
                                            #end
                                            $math.roundTo(2, $note)


                                        </td>
                                        <td>

                                            #if($configurationExercises.get($exercise.name).scoreByMethods)
                                                <p class="small mb-1 text-info"> Se indica la puntuación obtenida si se supera el test</p>
                                            #end

                                            #foreach( $testcase in $test.testcase )

                                                <p class="blockquote-footer mb-1">
                                                $testcase.name
                                                #set( $exerciseConfiguration = $configurationExercises.get($exercise.name) )
                                                #foreach( $testNote in $exerciseConfiguration.listTestNote )
                                                    #*if ($testNote.methodsNote != {})*#
                                                    #if ($exerciseConfiguration.scoreByMethods)
                                                        <span class="text-info"> [$testNote.methodsNote.get($testcase.name) puntos] </span>
                                                    #end
                                                #end
                                                #if (! $testcase.failure)
                                                    <span class="text-success">: Test superado correctamente.</span>
                                                #else

                                                    #set ($splitOne = $testcase.failure.message.split($testcase.failure.type))

                                                    #*
                                                    #if ($splitOne[1].contains("==>"))
                                                        #set ($msg = $splitOne[1].split("==>"))
                                                        <span class="text-danger"> $msg[0] </span>
                                                    #else
                                                        <span class="text-danger"> $splitOne[1].replaceAll("<", "&lt;").replaceAll(">", "&gt;") </span>
                                                    #end
                                                    *#

                                                    #if ($splitOne.size() >= 2)
                                                        <span class="text-danger"> <b>[ERROR]</b> $splitOne[1].replaceAll("<", "&lt;").replaceAll(">", "&gt;") </span>
                                                    #else
                                                        <span class="text-danger"> <b>[ERROR]</b> $splitOne </span>
                                                    #end


                                                #end

                                                </p>
                                            #end

                                        </td>

                                    </tr>
                                #end
                            </tbody>
                            #if( $exercise.testsuiteList )
                                <tfoot>
                                    #set( $successfulTotal = (($testsTotal - $failuresTotal - $errorsTotal) * 100) / $testsTotal)
                                    <tr class="table-primary">
                                        <th scope="col">TOTAL</th>
                                        <th scope="col">$scoreTotal</th>
                                        <th scope="col">$testsTotal</th>
                                        <th scope="col">$failuresTotal</th>
                                        <th scope="col">$successfulTotal %</th>
                                        <th scope="col">$math.roundTo(2, $noteTotal)</th>
                                        <th scope="col"></th>
                                    </tr>
                                </tfoot>
                            #else
                                <tfoot>

                                    <tr class="table-primary">
                                        <th colspan="5" scope="col"><span class="text-danger">Ejercicio no compila o No Presentado</span></th>
                                        <th colspan="1" scope="col">0</th>
                                        <th scope="col"></th>
                                    </tr>
                                </tfoot>
                            #end
                        </table>
                    </div>
                </div>
            </div>
        #end


    </body>
</html>